[tool.poetry]
name = "{{ name }}"
version = "{{ version }}"
description = "{{ name }}"
authors = ["{{ authors }}"]

[tool.poetry.dependencies]
python = "^3.10"
grpcio-tools = "1.51.1"
prometheus-client = "^0.14.1"
orjson = "^3.8.7"
grpc-prometheus-metrics = "^0.0.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
